/********** theme fixes *************/

.bg-primary {
	background-color: #2e9975 !important;
}

a {
    color: #2e7373;
    overflow-wrap: break-word; /* break links properly on small screens */
}

footer a {
	color: #2db386
}

.lead a {
	color: #2e7373;
	text-decoration: underline;
}

header .lead a {
    color: white;
}

.btn-primary {
    background-color: #2e735c;
    border-color: #2e735c;
}

#search-form {
    text-align: center;
}

.container h1 {
    /* makes sure hamburger menu doesn't cover title on small screens.
    Also ensures welcome message appears. */
    padding-top: 60px; 
}

/********* specifically used by Tropical *********/

.snippet {
    background-color: white;
    border: 2px solid #668;
    padding: 8px;
    margin: 4px;
}

.tag {
    font-family: 'Consolas', 'monaco', 'monospace';
    padding: 4px;
    margin: 4px;
    background: #2e735c;
    color: white;
}

.tag a {
    color: white; /* tag links should be white, not the link colour (green) */
}

.icon {
    margin-left: 8px;
}

.stats {
    font-weight: bold;
}